{
    "presets": ["next/babel"],
    "plugins": [
      [
          "module-resolver",
          {
              "root": ["."],
              "alias": {
                "store": "./src/store",
                "container": "./src/container",
                "api": "./src/api"
              }
          }
      ]
    ]
  }